<h2>Create a new drone</h2>
<br>
<form action="/drones/create" method="POST">
    <label for="name">name:</label>
    <input id="name" name="name" type="text"></input>

    <label for="propellers">proppelers:</label>
    <input id="propellers" name="propellers" type="text"></input>

     <label for="maxSpeed">maxSpeed:</label>
    <input id="maxSpeed" name="maxSpeed" type="text"></input>
    
    <button type="submit">Add Drone</button>
</form>